<div *ngIf="actor">
  <h2 class="model-detail-header">{{actor.name| uppercase}} details!</h2>
  <div class="model-detail-id">
    <label>id: </label>{{actor._id}}
  </div>
  <div>
    <label class="model-detail-label">name: </label>
    <input class="model-detail-input" [(ngModel)]="actor.name" placeholder="name" />
    <label class="model-detail-label">birth year: </label>
    <input class="model-detail-input" [(ngModel)]="actor.birth_year" placeholder="YYYY" />
  </div>
  <button (click)="save(actor)">Save</button>
  <button (click)="goBack()">Back</button>
</div>
