<!--<div id="wrapper">
  <header id="branding">
    <nav>
      <ul>
        <li>
          <div id="logo">
            <a id="logo_link" [routerLink]="['/']">
              <img src="../../../../public/images/365cons_149.png" alt="Movies">
            </a>
          </div>
        </li>
        <li>
          <div class="link">
            <a id="movies_link" [routerLink]="['/movies']">
              Movies
            </a>
          </div>
        </li> 
        <li>
          <div class="link">
            <a id="actors_link" [routerLink]="['/actors']">
              Actors
            </a>
          </div>
        </li>
      </ul>
    </nav>
  </header>
</div>-->