<div *ngIf="movie">
  <h2 class="model-detail-header">{{movie.title| uppercase}} details!</h2>
  <div class="model-detail-id">
    <label>id: </label>{{movie._id}}
  </div>
  <div>
    <label class="model-detail-label">title: </label>
    <input class="model-detail-input" [(ngModel)]="movie.title" placeholder="title" />
    <label class="model-detail-label">year: </label>
    <input class="model-detail-input" [(ngModel)]="movie.year" placeholder="YYYY" />
  </div>
  <button (click)="save(movie)">Save</button>
  <button (click)="goBack()">Back</button>
</div>
