<br><br><br>
<div class="ui raised very padded text container piled segments">
  <div class="ui segment">
    <div class="ui segment">
      <table class="ui compact celled definition table">
        <thead>
          <tr>
            <th></th>
            <th>Title</th>
            <th>Year</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let movie of movies">
            <td class="collapsing">
              <div class="ui fitted slider checkbox">
                <input type="checkbox"> <label></label>
              </div>
            </td>
            <td>{{movie.title}}</td>
            <td>{{movie.year}}</td>
          </tr>
        </tbody>
        <tfoot class="full-width">
          <tr>
            <th></th>
            <th colspan="4">
              <div class="ui right floated small primary labeled icon button">
                <i class="user icon"></i> Add User
              </div>
              <div class="ui small button">
                Approve
              </div>
              <div class="ui small  disabled button">
                Approve All
              </div>
            </th>
          </tr>
        </tfoot>
      </table>
    </div>
  </div>
</div>