<br><br><br>
<div class="ui raised very padded text container piled segments">
  <div class="ui segment">
    <div class="ui segment">
      <table class="ui compact celled definition table">
        <thead>
          <tr>
            <th></th>
            <th></th>
            <th>Title</th>
            <th>Year</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let movie of movies; let i = index">
            <td class="collapsing">
              <div (click)="delete(i, movie)">
                <i class="trash outline icon"></i>
              </div>

            </td>
            <td class="collapsing">
              <div (click)="update(i, movie)">
                <i class="edit icon"></i>
              </div>
            </td>
            <td>{{movie.title}}</td>
            <td>{{movie.year}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>