<br>
<div class="ui raised very padded text container piled segments">
  <div class="ui segment">
    <div class="ui segment">
      <table class="ui compact celled definition table">
        <thead>
          <tr>
            <th></th>
            <th></th>
            <th>Name</th>
            <th>Birth Year</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let actor of actors; let i = index">
            <td class="collapsing">
              <div (click)="delete(i, actor)">
                <i class="trash outline icon"></i>
              </div>
            </td>
            <td class="collapsing">
              <div (click)="update(i, actor)">
                <i class="edit icon"></i>
              </div>
            </td>
            <td>{{actor.name}}</td>
            <td>{{actor.birth_year}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>